    * {
		font-family: Arial, Verdana, sans-serif; 
		text-align: justify;
		font-size:1rem;
		padding: 0;
		margin: 0;
		border-radius: 0.5rem;
	}

@media (min-width: 40rem) and (max-width: 60rem) {

}

    body {
        padding: 0.5rem;
        margin: 0.5rem;
        margin-right: 1rem;
        width: auto;
        height: auto;
        /* remove scrolling bars */
        overflow: hidden;

    }

    #main-canvas {
        cursor: crosshair;
        background: #ffffff;
        position: relative;
    }

    main {
       text-align: center; 
    }

    #canvas-div {
        text-align: center;
    }