
    * {
		font-family: Arial, Verdana, sans-serif; 
		text-align: justify;
		font-size:1rem;
		padding: 0;
		margin: 0;
		border-radius: 0.2rem;
	}

/******************************************************************************************/

    html {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    main {
       background: green;
       position: static;
       padding: 0;
    }

    body {
        background: red;
        display: grid;
        min-height: 100vh;
        width: 100vw;
    }

    button {
        width: 10em;
        height: 2em;
        text-align: center;
        box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2);
        background: #eeeecc;
    }

    button:hover {
        background: #ffffff;
    }

    h1 {
        text-align: center;
    }

/******************************************************************************************/

    #header {
        background: #555555;
        padding: .5rem;
    }

    #main-canvas {
        cursor: crosshair;
        background: grey;
        position: relative;
    }

    #desktop-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: blue;
        border-radius: 0;
        position: sticky;
        bottom: 0;
        margin-bottom: 0 !important;
        margin-left: 0;
        margin-right: 0;
        padding: .1rem;
        padding-top: .4rem;
    }

    #mobile-footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 0;
        position: sticky;
        bottom: 0;
        left: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding: .4rem;
        background: greenyellow;
        width: 100vw;
        box-sizing: border-box;
    }

    #buttons {
        background: cyan;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: .5rem;
    }


/******************************************************************************************/

    .container {

    }

    .slider-label {
        text-align: center;
        display: block;
    }

    .item {

    }

/******************************************************************************************/

    @media (orientation: portrait) and (width > 20rem) {
        #desktop-footer {
            display: none !important;
        }
        #header {
            display: flex;
            justify-content: space-between;
        }
        #buttons {
            display: none;
        }
        main {
            width: 100vw;
            height: 90vh;
            margin: 0;
            box-sizing: border-box;
        }
        body {
            grid-template-rows: auto 1fr auto;
            gap: .5rem;
        }
        #menu-toggle {
            -webkit-user-select: none;
            user-select: none;
            z-index: 1;
        }
        #menu-toggle #menu-checkbox {
            opacity: 0;
            display: block;
            position: absolute;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            z-index: 2;
            -webkit-touch-callout: none;
        }
        .hamburger-span {
            display: block;
            width: 2rem;
            height: .4rem;
            margin-bottom: .4rem;
            position: relative;
            background: #dddd10;
            border-radius: .15rem;
            z-index: 1;
            
            transform-origin: 1rem 0.2rem;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
        }
        #mobile-nav-menu {
            position: absolute;
            background: #ffffff;
            list-style-type: none;
            -webkit-font-smoothing: antialiased;

            transform-origin: 0% 0%;
            transform: translate(-100%, 0);
  
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        }
        
        #menu-toggle input:checked ~ ul {
            transform: none;
        }
        
        #menu-toggle span:first-child {
        }

        #menu-toggle span:nth-last-child(2) {
        }

        #menu-toggle input:checked ~ span {
            opacity: 1;
            transform: translate(0, .8rem) rotate(45deg);
            background: #505000;
        }

        #menu-toggle input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        #menu-toggle input:checked ~ span:nth-last-child(2) {
            transform: translate(0, -0.8rem) rotate(-45deg);
        }
    }

    @media (orientation: landscape) and (width > 40rem) {
        #mobile-footer {
            display: none !important;
        }
        main {
            width: 100%;
            height: 50vh;
        }
    }